
            body
            {
                background-color: #202124;
            }
            li
            {
                list-style: none;
            }
            .dropdown
            {
            /* This places the dropdown contents inside the center of dropdown menu when hovering the mouse cursor on it. */
                display: inline-block;
            }
             /* Image size is different with button. It's sperated.*/
             #menuicon 
             {
                position: absolute;
                height: 36px;
                width: 36px;
                left: 7px;
                top: 4.5px;
             }
            .dropbtn
            {
                position: absolute;
                right: 59px;
                top: 7px;
                background-color: #202124;
                border: none;
                border-radius: 24.0625px;
                cursor: pointer;  
                height: 48.125px;
                width: 48.125px; 
            }
            .dropdown-content
            {
               position: absolute;
               display: none;
               background-color: #2d2e30;
               z-index: 1;
               min-width: 50px;
               right: 50px;
               top: 50px;
            }
            .show
            {
                display: block;
            }
            a > img
            {
                height: 50px;
                width: 50px;
            }
            .dropdown-content a
            {
                display: block;
            }
            #NaviBar
            {
                position: absoulte;
                color: #bdc1c6;
                font-size: 0.85em;
                margin-top: 1.18%;
            }
            a:hover
            {
                color: #bdc1c6;
                text-decoration: underline;
                background-repeat: no-repeat;
            }
            a:not(:hover)
            {
                color: #bdc1c6;
                text-decoration: none;
                background-repeat: no-repeat;
            }
            #nav00
            {
                color: #bdc1c6;
                position: absolute;
                left: 1.25%; 
                text-decoration: none;
            }
            #nav01
            {
                position: absolute;
                left: 6.25%;
            }
            #ProfileBtn
            {
                position: absolute;
                height: 40px;
                width: 40px;
                border-radius: 20px;
                right: 15.5px;
                top: 11px;
                cursor: pointer;
                background-color: #202124;
                border: none;
                border-style: none;
            }
            #Profile
            {
                position: absolute;
                height: 31.5px;
                width: 31.5px;
                border-radius: 15.75px;
                right: 3.36px;
                top: 3.5px;
            }
            #ProfileBtn:hover, .dropbtn:hover
            {
                background-color: #313134;
            }
            #PageLogo
            {
               position: absolute;
               left: 41.3%;
               right: 75%;
               top: 24.8%;
            }
            #SearchBar
            {
                position: absolute;
                left: 34.8%;
                right: 75%;
                top: 40.5%;
                background-color: #202124;
                width: 555px;
                height: 46px;
                border: 1.99px;
                border-style: double;
                border-color: #5f6368;
                border-radius: 25px;
            }
            #SearchTField
            {
                position: absolute;
                left: 44px;
                top: 0.5px;
                background-color: #202124;
                width: 350px;
                height: 39.5px;
                border: none;
                border-style: none;
                border-color: #5f6368;
                border-radius: 25px;
                caret-color: white;
                color:white;
                font-size: medium;
            }
            /* input:focus */
            /* Eliminate the style of search bar when you click on it.*/
            #SearchBar:focus, #SearchTField:focus
            {
                outline: none;
            }
            #SearchIcon
            {
                position: absolute;
                height: 29.1px;
                width: 29px;
                top: 6.5px;
                left: 7.5px;
                right: 75%;
            }
           
            
          







