#MusicTitle
{
   margin-top: 0%; 
   margin-left: -13%;
}
#MusicTitle>li>a
{
    margin-bottom: 0%;
    background-repeat: no-repeat;
    color: black;
    list-style: decimal;
    text-decoration:none;
    font-weight: bold;
    font-size: 95%;
}
#mp3Player
{
    margin-top: 50%;
    margin-left: -8%;
    width: 98%;
}

* {

box-sizing: border-box;

}
body 
{
background:rgb(70, 70, 70);
height:100%;
margin:0;
}
/* 전체 페이지 */
#container 
{
background:rgb(255, 255, 255);
position:relative;
left:50%;
margin-left:-450px;
width:900px;
height: 900px;
}
#main 
{
width:100%;    
height:100%;
background:#fff;
}
aside 
{
float:left;
width:270px;    
padding:20px 50px;
height: 900px;
background:#ffedd1;
}
li,p 
{
line-height: 2.0;
font-size:0.9em;
}
.pf 
{
border-radius:10%;
box-shadow:3px 3px 10px 2px #222;

} 
/* Aside information */
#detail 
{
position: relative;
top:80px;
margin-top: -80px;
margin-left: -25px;
}
#sns
{
position:relative;
top:100px;
}

#main 
{
float:right;
width:600px;
padding:20px;
}

#main > section 
{
width:500px;
padding:20px;
margin:10px;
border-bottom:1px dotted #222;
}

section > p, section>table 
{
height: 170px;
width: 500px; 
margin-left: -5%;
}

/* 글자스타일 */
aside h1 
{
font-size:1.8em;
font-variant: normal;
}
aside h2 
{
font-size:1.2em;
}
#namecard p 
{
font-size:0.8em;
color:rgb(99, 99, 99);
margin-top: -15px;
/* font-style:italic; */
}
#sns-hyper_links
{
margin-top: -5px;
margin-left: -23.5px;
}
#email
{
margin-top: -10px;
}
#tel
{
margin-top: -10px;
}

/* 추가된 이미지 파일의 경계를 부드럽게 할 수 있다 */
img
{
border-radius: 15%;
}
.subtitle 
{
font-size:1.5em;
/* padding-left:45px; */
line-height:0.9em;
margin-left: 25%;
margin-bottom: 5%;
margin-top: -2.5%;
}
.subtitle::before 
{
content:"";
display:block;
background:url("") no-repeat;
width:24px;
height:24px;
float:left;
margin:0 15px 0 0;
}
section > p 
{
font-size:0.9em;
}

.label 
{
display:inline-block;
width:80px;
color:purple;
font-weight:bold;
}

meter 
{
width:200px;
margin-right:10px;    
}


    a:any-link
    {
        color:blue;
        text-decoration: none;
    }
    table
    {
        /* 표의 너비 */
        width:70%;
        /* 표 테두리 굵기, 색상 */
        border:1px solid #111111;
        /* 표와 셀의 테두리 선을 서로 붙게함 */
        border-collapse: collapse;
        
    }
    thead
    {
        background-color: #ffedd1;
    }
    th, td
    {
        /* 텍스트 정렬 */
        text-align: center;
        /* 셀 테두리 굵기 및 색상 */
        border:1px solid #111111;
        /* 폰트 크기 */
        font-size:0.8em;
    }
    caption
    {
        margin-left: -85%;
        margin-bottom: 1.5%;
        font-size:0.88em;
    }
 